nav {
    background: #000000;
    color:#fff;
    padding: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding:10px 20px;
}
nav .active, 
nav a:hover {
    background: #000000;
}

/* ID Selector */
#intro {
    background: #daa520;
    border: 1px solid #000000;
    min-height: 100px;
    padding: 10px;
}
#intro h1 {
    text-align: left;
    border: 0;
    color: rgb(156, 0, 204);
}

/* Class Selector */
.button {
     padding: 15px 20px;
    background: #bebcbd;
    color: #fff;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
}
.btn-primary {
    background: #000000;
}
